<!DOCTYPE html>
<html>
  <head>
    <title>Videos</title>
  </head>
  <body>
    <% files.forEach(file => { %>
    <video width="320" height="240" controls>
      <source src="<%= file %>" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
    <% }) %>
  </body>
</html>
